<!doctype html>
<html lang="en">
    {{> 'partials/header' }}
    <body>
        <div id="layout">
            {{> 'partials/navbar' }}
        </div>
        
        {{embed}}

        {{> 'partials/footer' }}
        {{> 'partials/scripts' }}
    </body>
</html>
